@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a asp-action="Vista" asp-controller="Home">Form</a> Ir al Form</p>
</div>
<div>
    <a asp-action="Form" asp-controller="bdd">Ir a crear user</a>
</div>
<form method="get" asp-controller="ApiDolar" asp-action="ObtenerDolar">
    <input type="submit" value="Ir a ver dolar" />
</form>