@{
    ViewData["Title"] = "ObtenerDolar";
}

<form method="get" asp-action="ObtenerDolar">
    <input type="submit" value="Ir a ver dolar"/>
</form>

<div>
        <p>Valor del Dólar: @ViewBag.dolar</p>
        <p>Fecha: @ViewBag.fecha</p>
</div>

